canvas {
    border: solid 1px black
}
.center {
    text-align: center;
}

img{
    
    height: 150px;
    width:150px;
    border:solid;
    margin: '10px';

    
}


body {
    touch-action: manipulation;
    }

