canvas {
    border: solid 1px black
}
.center {
    text-align: center;
}

img{
    
    height: 100px;
    width:100px;
    border:solid;
    margin: '10px';
    touch-action: manipulation;
    
}




